:ruby
  uinfo = {'uid' => 1, 'uname' => 'Жак-Ив Кусто', 'description' => 'Исследователь океана'}

  places = [
    {'id' => '1', 'text' => 'Карачаевск', 'rating' => 0},
    {'id' => '2', 'text' => 'Гора Эльбрус', 'rating' => 0},
    {'id' => '3', 'text' => 'Домбай', 'rating' => 0},
    {'id' => '4', 'text' => 'Гора Эльбрус', 'rating' => 1},
    {'id' => '5', 'text' => 'Домбай', 'rating' => 1},
    {'id' => '6', 'text' => 'Карачаево-Черкесск', 'rating' => 0},
  ]

!!!5
%html(lang="ru")
  %head
    %meta(charset="UTF-8")
    %meta{:http-equiv => "X-UA-Compatible", :content => "IE=edge"}
    %meta{:name =>"viewport", :content => "width=device-width, initial-scale=1.0"}
    %link{:rel => "stylesheet", :href => "./pages/index.css"}
    %title Mesto Russia
  %body
    .root
      %header.section.section-header
        .section-header__logo
      %main.main
        %section.section.section-bio
          %img.section-bio__upic{:src => "./images/upic-#{uinfo['uid']}.jpg", :alt => "#{uinfo['uname']}"}
          .section-bio__uinfo
            .section-bio__uname-container 
              %h1.section-bio__uname #{uinfo['uname']}              
              %img.btn-edit.section-bio__edit{:src => "./images/btn-edit.svg", :alt => "Редактировать профиль"}
            %p.section-bio__udescription #{uinfo['description']}
          .section-bio__uactions
            .btn-plus
        %section.section.section-gallery
          %ul.section-gallery__grid
            - places.each do |item|
              %li.section-gallery__item
                %article.place
                  %figure.place__figure
                    %img.place__img{:src => "./images/ugallery-#{item['id']}.jpg", :alt => "#{item['text']}"}
                  .place__body
                    %h2.place__title #{item['text']}
                    .place__actions
                      - if item['rating'] == 0
                        %img.btn-like{:src => "./images/btn-like.svg", :alt => "Лайк!"}
                      - else
                        %img.btn-like.btn-like-active{:src => "./images/btn-like-active.svg", :alt => "Уже нравится!"}
      %footer.section.section-footer
        %p.section-footer__copyright &copy;&nbsp;2022 Mesto&nbsp;Russia X Варушичев&nbsp;Михаил
      .popup.popup_opened
        .popup__close
          .popup__content
            %img.popup__btn-close{:src => "./images/btn-close.svg", :alt => "Закрыть"}
            %h2.popup__title Редактировать профиль
            %form.popup__form
              %input.popup__form-input{:id => "form__name", :value => "", :placeholder => "Представься, путешественник" }
              %input.popup__form-input{:id => "form__desctiption", :value => "", :placeholder => "Что влечет тебя к движению?" }
              %button.popup__form-submit{:type => "submit"} Сохранить
    %script(src="./index.js")
